---
layout: default
---

<div class="container">
  <!-- begin author -->
  <section class="author" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
    <div class="author__inner">
  <img src="{{site.baseurl}}{{site.author.image}}" alt="{{site.author.name}}" class="author__img">
      <h1 class="author__job">{{ site.author.job }}</h1>
      <p class="author__bio">{{ site.author.bio }}</p>      
      <div class="author__more">
        <a href="https://shashirajpandey.github.io/pdfs/CV.pdf" target="_blank" class="say-hello">CV</a>
        <a href="https://scholar.google.com/citations?hl=en&user=yFmz36AAAAAJ&view_op=list_works&sortby=pubdate" class="say-hello">Google Scholar</a>
        <a href="{{site.baseurl}}/about/" class="know-more">Know more about me</a>
      </div>
    </div>
  </section>
  <!-- end author -->
</div>


<div class="container">
   <section class="author" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
   <h2 align="left"> <font color="darkmagenta">News</font></h2>
   <li>Invited to serve as a Reviewer for NeurIPS 2023</i></li>	
   <li>Le, T.H.T., Cantos, Luggi,  <strong>Pandey, S.R.,</strong> Shin, Hyundong and Kim, Y.H., 2023.<a href="https://ieeexplore.ieee.org/document/10093073" target="_blank">"Federated Learning with NOMA Assisted by Multiple Intelligent Reflecting Surfaces: Latency Minimizing Optimization and Auction."</a>(in press, <i>IEEE Transactions on Vehicular Technology)</i></li>
   <li>Bui, V.P., <strong>Pandey, S.R.</strong>, Chiariotti, F. and Popovski, P., 2023.<a href="https://arxiv.org/abs/2301.10962" target="_blank">"Scheduling Policy for Value-of-Information (VoI) in Trajectory Estimation for Digital Twins."</a>(in press, <i>IEEE Communications Letters)</i></li>	
	 <li>Christensen, R.B., <strong>Pandey, S.R.,</strong> and Popovski, P., 2022.<a href="https://arxiv.org/abs/2206.06650" target="_blank">"Semi-Private Computation of Data Similarity with Controlled Leakage."</a>(in press, <i>IEEE Transactions on Information Forensics & Security.)</i></li>
  </section>
   </div>

<div class="container">
  {% if site.posts.size > 0 %}
    {% for post in site.posts %}
    <div class="article" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="800">
      {% if post.image %}
      <div class="article__image-box">
        <a href="{{post.url | prepend: site.baseurl}}" class="article__image" style="background-image: url({{site.baseurl}}{{post.image}})"></a>
      </div>
      {% endif %}
      <div class="article__content">
        <h2 class="article__title">
          <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
        </h2>
        <div class="article__meta">
          <span class="article__date">Published <time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}{{ post.date | date: date_format }}</time></span>
        </div>
        <p class="article__excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 130 }}{% endif %}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="read-more">Read the rest</a>
      </div>
    </div>
    {% endfor %}
  {% endif %}
</div>
